*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
}

.nav {
  width: 100%;
  min-height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  padding-right: 4rem;
  z-index: 1;
  background: white;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.248);
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.05);
}
.nav__figure {
  width: 40rem;
}
.nav__logo {
  width: 100%;
  height: 100%;
}
.nav__list {
  display: flex;
  list-style: none;
  gap: 4rem;
  font-size: 120%;
}
.nav__link {
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.nav__link:hover {
  text-decoration: underline;
}
.nav__menu {
  font-size: 3rem;
  background: none;
  border: none;
  color: black;
  display: none;
}
.nav__menu:hover {
  cursor: pointer;
}

.nav--menu {
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  padding-top: 4rem;
  gap: 2rem;
  z-index: 1;
  background: white;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.248);
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.05);
}

.nav__list--menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  gap: 2rem;
  font-size: 120%;
}

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
}
.banner__img {
  width: 100%;
  height: 100%;
  background: url("../../../img/cropped-maneattractionjeroen2018_1.jpg");
  background-position: left;
  background-size: cover;
}

.footer {
  width: 100%;
  min-height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  padding-right: 4rem;
  z-index: 1;
  background: black;
}
.footer__text {
  color: white;
}
.footer__privacy {
  text-decoration: none;
  color: white;
}
.footer__privacy:hover {
  text-decoration: underline;
}

.news {
  padding: 4rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.news__cardImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.news__title {
  font-size: 300%;
}
.news__cards {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  list-style: none;
}
.news__card {
  background: white;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.205);
  width: 60rem;
  aspect-ratio: 1/1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.news__cardTitle {
  font-size: 180%;
}
.news__cardDate {
  color: gray;
}
.news__cardText {
  font-weight: 300;
  line-height: 1.6;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.about {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  width: 70%;
  height: 100%;
  gap: 2rem;
}
.about__title {
  font-size: 300%;
}
.about__card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  animation-name: slideIn;
  animation-duration: 0.6s;
}
.about__cardDate {
  color: gray;
}
.about__cardText {
  font-weight: 300;
  line-height: 1.6;
}

.releases {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  width: 100%;
  height: 100%;
  gap: 2rem;
}
.releases__title {
  font-size: 300%;
}
.releases__list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  animation-name: slideIn;
  animation-duration: 0.6s;
}
.releases__listItem {
  display: flex;
  gap: 2rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.205);
}
.releases__heading {
  font-weight: 400;
  margin-bottom: 2rem;
}
.releases__img {
  width: 30rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.releases__musicians {
  display: flex;
  flex-direction: column;
  font-weight: 300;
}
.releases__info {
  display: flex;
  flex-direction: column;
  font-weight: 300;
}
.releases__container {
  display: flex;
  gap: 4rem;
}

.musicians {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  width: 100%;
  height: 100%;
  gap: 2rem;
}
.musicians__title {
  font-size: 300%;
}

.members {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  animation-name: slideIn;
  animation-duration: 0.6s;
}
.members__member {
  display: flex;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.205);
}
.members__memberImg {
  width: 50rem;
  aspect-ratio: 1;
  object-fit: cover;
}
.members__memberTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.members__memberDetailWrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.members__memberDetail {
  color: gray;
  border: 0.2rem solid gray;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
.members__memberDescription {
  font-weight: 300;
  line-height: 1.6;
}

.history {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  width: 100%;
  height: 100%;
  gap: 2rem;
}
.historyTitle {
  font-size: 300%;
}
.historyStory {
  display: flex;
  gap: 4rem;
  animation-name: slideIn;
  animation-duration: 0.6s;
}
.historyStory__textWrapper {
  padding-right: 20rem;
}
.historyStory__img {
  min-width: 30%;
  aspect-ratio: 1/1.5;
  object-fit: contain;
}
.historyStory__title {
  font-weight: 400;
}
.historyStory__text {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 1.6;
}
.historyGallery {
  width: 100%;
  height: 40rem;
  display: flex;
  gap: 2rem;
}
.historyGallery__img {
  width: 100%;
  height: 80%;
  object-fit: contain;
}
.historyGallery__imgContainer {
  width: 100%;
  height: 100%;
}

.media {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  width: 100%;
  height: 100%;
  gap: 2rem;
}
.media__title {
  font-size: 300%;
}
.mediaCollection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  animation-name: slideIn;
  animation-duration: 0.6s;
}
.mediaCollection__item {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.mediaCollection__date {
  position: relative;
  font-weight: 300;
  line-height: 1.6;
}
.mediaCollection__date::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: gray;
}
.mediaCollection__images {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 4rem;
}
.mediaCollection__image {
  width: 30rem;
  height: 30rem;
  object-fit: contain;
}
.mediaCollection__credits {
  position: relative;
  font-weight: 300;
  line-height: 1.6;
}
.mediaCollection__credits::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: gray;
}

.store {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  width: 100%;
  height: 100%;
  gap: 2rem;
}
.store__title {
  font-size: 300%;
}
.store__items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  animation-name: slideIn;
  animation-duration: 0.6s;
}

.guitarCorner {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  width: 100%;
  height: 100%;
  gap: 2rem;
}
.guitarCorner__title {
  font-size: 300%;
}

.guitars {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.205);
  animation-name: slideIn;
  animation-duration: 0.6s;
}
.guitars__title {
  font-size: 4rem;
}
.guitars__info {
  font-weight: 300;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.guitars__images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.guitars__image {
  width: 30rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  width: 70%;
  height: 80vh;
  gap: 2rem;
}
.contact__title {
  font-size: 300%;
}
.contact__card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  animation-name: slideIn;
  animation-duration: 0.6s;
}
.contact__cardType {
  color: gray;
}
.contact__cardInfo {
  font-weight: 300;
  line-height: 1.6;
}

.privacyPolicy {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  width: 70%;
  height: 100%;
  gap: 2rem;
}
.privacyPolicy__title {
  font-size: 300%;
}
.privacyPolicy__info {
  font-weight: 300;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 81.25rem) {
  .releases {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    width: 100%;
    height: 100%;
    gap: 2rem;
  }
  .releases__title {
    font-size: 300%;
  }
  .releases__list {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .releases__listItem {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.205);
    padding: 2rem;
  }
  .releases__heading {
    font-weight: 400;
    margin-bottom: 2rem;
  }
  .releases__img {
    width: 30rem;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
  .releases__musicians {
    display: flex;
    flex-direction: column;
    font-weight: 300;
  }
  .releases__info {
    display: flex;
    flex-direction: column;
    font-weight: 300;
  }
  .releases__container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .members__member {
    display: flex;
    flex-direction: column;
  }
  .historyStory__textWrapper {
    padding-right: 10rem;
  }
}
@media screen and (max-width: 68.75rem) {
  .nav {
    min-height: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    padding-right: 4rem;
    z-index: 1;
  }
  .nav__list {
    display: flex;
    list-style: none;
    gap: 4rem;
    font-size: 120%;
    display: none;
  }
  .nav__menu {
    display: block;
  }
  .nav--menu {
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    padding-top: 4rem;
    gap: 2rem;
    z-index: 1;
    background: white;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.248);
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0.05);
  }
  .nav__list--menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 2rem;
    font-size: 120%;
  }
  .about {
    padding: 4rem;
    width: 100%;
    height: 100%;
  }
  .historyGallery {
    width: 50%;
    height: 50%;
    flex-direction: column;
  }
}
@media screen and (max-width: 62.5rem) {
  .historyStory {
    flex-direction: column;
  }
  .historyStory__textWrapper {
    padding-right: 4rem;
  }
  .historyStory__img {
    width: 40rem;
    aspect-ratio: 1/1.5;
    object-fit: contain;
  }
}
@media screen and (max-width: 43.75rem) {
  .footer {
    align-items: flex-start;
    flex-direction: column-reverse;
    padding: 2rem;
    padding-right: 4rem;
    z-index: 1;
    gap: 1rem;
  }
  .members__memberImg {
    width: 30rem;
  }
  .historyGallery {
    width: 85%;
    height: 85%;
    flex-direction: column;
  }
}
@media screen and (max-width: 31.25rem) {
  .nav {
    justify-content: flex-end;
  }
  .nav__figure {
    width: 35rem;
  }
  .nav--menu {
    justify-content: flex-start;
    padding: 0;
    padding-top: 4rem;
    gap: 2rem;
  }
  .releases__img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
  .historyStory__img {
    width: 35rem;
  }
}
@media screen and (min-width: 37.5rem) {
  .about {
    height: 80vh;
  }
}

/*# sourceMappingURL=style.css.map */
