@use "../../abstracts/animations";
.about{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    width: 70%;
    height: 100%;
    gap: 2rem;

    &__title{
        font-size: 300%;
    }

    &__card{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        animation-name: slideIn;
        animation-duration: 0.6s;
        
        &Date{  
            color: gray;
        }

        &Text{
            font-weight: 300;
            line-height: 1.6;
        }
    }
}